<div class="container">
  <div class="row">
    {{#if user}}
      <h3>Hello {{{ user.email }}}</h3>
    {{else}}
      <ul>
        <h3><a href="/auth/iam">IAM Login</a></h3>
        <h3><a href="/auth/sis">SIS Login</a></h3>
      </ul>
    {{/if}}
  </div>
</div>
